body {
  text-align: center;
  background-color: #0077;
  padding: 15px;
}

h1 {
  text-align: center;
  text-decoration-line: center;
  color: green;
  background-color: yellow;
}
p {
  font-family: Trebuchet MS,Sans-Serif;
  font-size: 15px;
  color: green;

}

div {
  padding: 12px;
}